
input{
    border-radius: 10px;
}
input:valid{
    box-shadow: 0 0 5px 1px green;
}
input:invalid:required{
    box-shadow: 0 0 5px 1px red;
}
button:hover{
    background-color: red;
    
}
button{
    border-style: dashed;
    align-self: center;
}
select{
    border-radius: 10px;
}
select:valid{
    box-shadow: 0 0 5px 1px green;
}
textarea{
    border: 1px solid black;
    background-color: brown;

}
p>label{
    display: block;
}